
.service-container{
    border: 1px solid aqua;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
}
.regular-btn{
   background-color: rgb(162, 177, 137);
   border-radius: 5px;
}