.items {
    list-style: none;
    margin: 3px;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }

  .navbar-container{
     background-color: aqua;
      justify-content: center;
      text-align: center;
  }